<div class="container">
<div class="row">
    <div class="col-md-12">
       
         
      
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
      
          <span (click)="OpenSoftwareModal(template,'save', index)" class="btn btn-primary btn-xs">Nuevo Software</span>
          <span *ngIf="seeExport" (click)="getExportSotware()" class="btn btn-success btn-xs">Exportar Excel</span>
          <img src="assets/img/loaderF.gif" *ngIf="loaderExport" style="margin-left: 30px;" />

          <br /><br />
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                <th>Software Id</th>
                <th>Nombre del Software</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of softwareList | paginate: {itemsPerPage: 5, currentPage: pageActual};let i = index">
                  <td>{{item.software_id}}</td>
                  <td>{{item.software_name}}</td>
                  
                  <td><span class="btn btn-primary btn-xs" (click)="OpenSoftwareModal(template,'edit',item)">
                      <span class="nc-icon nc-ruler-pencil"></span></span></td>
                  <td><span class="btn btn-danger btn-xs" (click)="OpenSoftwareModal(confirm,'delete', item)">
                      <span class="nc-icon nc-simple-remove"></span></span></td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  
    <ng-template #template>
     
        <div class="modal-header">
         
          <h4 class="modal-title" id="add-modal-label">{{titleModal}}</h4>
        </div>
        <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            
            <label class="col-sm-7 control-label">Nombre del software</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="software_name" [(ngModel)]="software.software_name" [ngClass]="{ 'is-invalid': submitted && f.software_name.errors }" />
              <div *ngIf="submitted && f.software_name.errors" class="invalid-feedback">
                <div *ngIf="f.software_name.errors.required">Por favor, ingrese nombre del software</div>
            </div>
            </div>
            
          </div>
          
        </div>
      </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cerrar</button>
        
          <div *ngIf="save"><button (click)="saveSoftware()" class="btn btn-primary">Guardar</button></div>
          <div *ngIf="edit"><button (click)="editSoftware()" type="submit" class="btn btn-primary">Aceptar</button></div>
        </div>
    
    </ng-template>
    <ng-template #confirm>
      <div class="modal-body text-center">
        <p>Estas seguro de Eliminar?</p>
        <button type="button" class="btn btn-default" (click)="deleteSoftware()" >Si</button>
        <button type="button" class="btn btn-primary" (click)="onClose()" >No</button>
      </div>
    </ng-template>
  </div>
</div>

  