<!-- <h5 class="text-center" style="color: blue;">User Data</h5> -->
<div class="container" >
    <div class="row">
      <div class="col-md-3 ">
        <div class="text-center">
          <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
          style=" width:250px;
          height:250px;
          border-radius:120px;
          border-color: blue;">
          <p class="text-center" style="color: blue;">{{prospect.prospect_name}}</p>
         <p class="text-center">Specialty</p>
         <!-- <button name="submit" type="submit" class="btn btn-primary btn-xs">Setting</button> -->
         <button type="button" class="btn btn-default" onclick="location.href='#/dashboard'">Back</button>
        </div>
      </div>
      <div class="col-md-9" style="filter: drop-shadow(5px 5px 10px #444);">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-12">
                        <hr>
                      </div>
                  </div>
               <div class="row">
                      <div class="col-md-12">
                          <form>
                            <div class="form-group row">
                              <div class="col-4 col-form-label">Id*</div> 
                              <div class="col-8">
                                {{prospect.prospect_id}}
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-4 col-form-label">Nombre*</div> 
                              <div class="col-8">
                                {{prospect.prospect_name}}
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-4 col-form-label">apellido*</div> 
                              <div class="col-8">
                                {{prospect.prospect_lastname}}
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-4 col-form-label">Fecha de nacimiento*</div> 
                              <div class="col-8">
                                {{prospect.prospect_birthday}}
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-4 col-form-label">Ciudad*</div> 
                              <div class="col-8">
                                {{checkCity(prospect.city_id)}}
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-4 col-form-label">Direccion*</div> 
                              <div class="col-8">
                                {{prospect.prospect_address}}
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-4 col-form-label">Telefono*</div> 
                              <div class="col-8">
                                {{prospect.prospect_phonenumber}}
                              </div>
                            </div>
                  <div class="form-group row">
                    <div class="col-4 col-form-label">Titulo*</div> 
                    <div class="col-8">
                     {{checkTitle(prospect.title_id)}}
                    </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-4 col-form-label">Software Asociado*</div> 
                      <div class="col-8" *ngFor="let item of softwareList;let i = index">
                       {{item}}
                      </div>
                    </div>
                  <div class="form-group row">
                    <div class="col-4 col-form-label">Salario*:</div> 
                    <div class="col-8">
                      {{prospect.prospect_salary}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-4 col-form-label">cv*</div> 
                    <div class="col-8">
                      {{prospect.prospect_cv}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-4 col-form-label">fuente*</div> 
                    <div class="col-8">
                      {{prospect.prospect_link}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-4 col-form-label">Referido por:*</div> 
                    <div class="col-8">
                      {{prospect.referral_name}}
                    </div>
                  </div>
                   <div class="form-group row">
                    <div class="col-4 col-form-label">Años de Experiencia*</div> 
                    <div class="col-8">
                      {{prospect.experience_years}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-4 col-form-label">Nivel de Experiencia*</div> 
                    <div class="col-8">
                        {{exp()}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-4 col-form-label">Email*</div> 
                    <div class="col-8">
                      {{prospect.email}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-4 col-form-label">Comentarios*</div> 
                    <div class="col-8">
                      {{prospect.commentary}}
                    </div>
                  </div>
              
              </form>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
  </div>