<!-- <h5 class="text-center" style="color: blue;">User Data</h5> -->
<div class="container" >
    <div class="row">
      <div class="col-md-3 ">
        <div class="text-center">
          <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
          style=" width:250px;
          height:250px;
          border-radius:120px;
          border-color: blue;">
          <p class="text-center" style="color: blue;">{{prospect.prospect_name}}</p>
         <p class="text-center">Specialty</p>
         <button name="submit" type="submit" class="btn btn-primary btn-xs">Setting</button>
         <button type="button" class="btn btn-default" onclick="location.href='#/dashboard'">Back</button>
        </div>
      </div>
      <div class="col-md-9" style="filter: drop-shadow(5px 5px 10px #444);">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-12">
                        <hr>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <form>
              <div class="form-group row">
                  <label class="col-4 col-form-label">Nombre*</label> 
                  <div class="col-8">
                    <input name="prospect_name" class="form-control here"  [(ngModel)]="prospect.prospect_name" >
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Apellido*</label> 
                    <div class="col-8">
                      <input name="prospect_lastname" class="form-control here" [(ngModel)]="prospect.prospect_lastname">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Fecha de Nacimiento*</label> 
                    <div class="col-8">
                      <input name="prospect_birthday" class="form-control here" [(ngModel)]="prospect.prospect_birthday">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Telefono*</label> 
                    <div class="col-8">
                      <input name="prospect_phonenumber" class="form-control here" [(ngModel)]="prospect.prospect_phonenumber">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Software*</label> 
                    <div class="col-8">
                      <ngx-multiselect name="software"
                      [(ngModel)]="softwares"
                      [options]="software"
                      ngDefaultControl>
                    </ngx-multiselect>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="pass" class="col-4 col-form-label">Titulo</label> 
                    <div class="col-8">
                      <input name="title_id" class="form-control here" [(ngModel)]="prospect.title_id">
                    </div>
                  </div>

                <!-- <div class="form-group row">
                  <label class="col-4 col-form-label">Pais*</label> 
                  <div  class="col-8">
                        <select class="form-control"   [(ngModel)]="prospect.country_id" (ngModelChange)="showCountry()">
                          <option name="title_id" *ngFor="let item of countryList; let i = index" [ngValue]="countryList[i].country_id">
                             {{countryList[i].country_name}}
                           </option>
                          </select>
                    </div>
                </div> -->
                <div class="form-group row">
                  <label class="col-4 col-form-label">Ciudad*</label> 
                  <div  class="col-8">
                  <select class="form-control"   [(ngModel)]="prospect.city_id" (ngModelChange)="showCity()">
                    <option name="city_id"  *ngFor="let item of cityList; let i = index" [ngValue]="cityList[i].city_id">
                       {{cityList[i].city_name}}
                     </option>
                    </select>                                    
                 </div>
              </div>
                <div class="form-group row">
                  <label for="pass" class="col-4 col-form-label">Salario</label> 
                  <div class="col-8">
                    <input name="prospect_salary" class="form-control here" [(ngModel)]="prospect.prospect_salary">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pass" class="col-4 col-form-label">CV</label> 
                  <div class="col-8">
                    <input name="prospect_cv" class="form-control here" [(ngModel)]="prospect.prospect_cv">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pass" class="col-4 col-form-label">Foto</label> 
                  <div class="col-8">
                    <input name="prospect_photo" class="form-control here" [(ngModel)]="prospect.prospect_photo">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pass" class="col-4 col-form-label">Fuente</label> 
                  <div class="col-8">
                    <input  name="prospect_link" class="form-control here" [(ngModel)]="prospect.prospect_link">
                  </div>
                </div>
                <!-- <div class="form-group row">
                  <label for="pass" class="col-4 col-form-label">Referido Por:</label> 
                  <div class="col-8">
                    <input class="form-control here" [(ngModel)]="prospect.prospect_referencia">
                  </div>
                </div> -->
              </form>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
  </div>