<div class="container">
<div class="row">
    <div class="col-md-12">
      
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
        <span  (click)="OpenUsersModal(template,'save', index)" class="btn btn-primary btn-xs">Nuevo usuario</span>
        <span *ngIf="seeExport" (click)="getExportUser()" class="btn btn-success btn-xs">Exportar Excel</span>
        <img src="assets/img/loaderF.gif" *ngIf="loaderExport" style="margin-left: 30px;"/>

        <br /><br />
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                
                <th>Nombre de Usuario</th>
                <th>Rol asignado</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of usersList | paginate: {itemsPerPage: 5, currentPage: pageActual};let i = index">
                  
                  <td>{{item.user_name}}</td>
                  <td>{{checkRole(item.role_id)}}</td>

                  <td><span class="btn btn-primary btn-xs" (click)="OpenUsersModal(template,'edit',item)">
                      <span class="nc-icon nc-ruler-pencil"></span></span></td>
                      <td><span class="btn btn-danger btn-xs" (click)="OpenUsersModal(confirm,'delete', item)">
                        <span class="nc-icon nc-simple-remove"></span></span></td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  
    <ng-template #template>
     
        <div class="modal-header">
         
          <h4 class="modal-title" id="add-modal-label">{{userModal}}</h4>
        </div>

        <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
        <div class="modal-body">
           
            <div class="form-group">
              <label class="col-sm-5s control-label">Nombre de usuario</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="user.user_name"  formControlName="user_name" [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }"/>
              <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                  <div *ngIf="f.user_name.errors.required">Por favor, ingrese nombre</div>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5s control-label">Contraseña del usuario</label>
          <div class="col-sm-10">
              <input type="password" class="form-control"  [(ngModel)]="user.user_password" formControlName="user_password" [ngClass]="{ 'is-invalid': submitted && f.user_password.errors }"/>
              <div *ngIf="submitted && f.user_password.errors" class="invalid-feedback">
                  <div *ngIf="f.user_password.errors.required">Por favor, ingrese contraseña</div>
                </div>
            </div>
          </div>
          <div class="input-group" class="col-11">
              <label style="color: black;" >Rol</label>
              <select class="form-control" name="role_id"  [(ngModel)]="user.role_id" required  formControlName="role_id" [ngClass]="{ 'is-invalid': submitted && f.role_id.errors }"  >
                <option   *ngFor="let item of roleList; let i = index" [ngValue]="item.role_id" >
                   {{roleList[i].role_name}}
                 </option>
                </select>
                <div *ngIf="submitted && f.role_id.errors" class="invalid-feedback">
                  <div *ngIf="f.role_id.errors.required">Por favor, seleccione un rol</div>
                 
                </div>                                     
             </div>  
            
       
          
        </div>

      </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cerrar</button>
          <div *ngIf="save"><button (click)="saveUsers()" type="submit" class="btn btn-primary">Guardar</button></div>
          <div *ngIf="edit"><button (click)="editUsers()" type="submit" class="btn btn-primary">Aceptar</button></div>
        </div>
    
    </ng-template>
    <ng-template #confirm>
      <div class="modal-body text-center">
        <p>Estas seguro de Eliminar?</p>
        <button type="button" class="btn btn-default" (click)="deleteUsers()" >Si</button>
        <button type="button" class="btn btn-primary" (click)="onClose()" >No</button>
      </div>
    </ng-template>
    <!-- <ng-template #confirm>
      <div class="modal-body text-center">
        <p>Estas seguro de Eliminar?</p>
        <button type="button" class="btn btn-default" (click)="deletelbUsers()" >Si</button>
        <button type="button" class="btn btn-primary" (click)="onClose()" >No</button>
      </div>
    </ng-template> -->
  </div>
</div>