<div style="background-color: #6c757d; width: 280px; "  class="sidebar-wrapper sidebar-transparent">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">

      <i class="fa fa-filter" aria-hidden="true"></i>
    </a>
    <a href="" class="simple-text logo-normal">
      Filtros
    </a>
  </div>

    <ul class="nav">
      
        <div class="container">
          <div class="form-group row" style="margin-left: 4px;width: 111px;">
            <label class="col-4 col-form-label" style="color: white;">Software</label> 
           
              <ngx-multiselect 
              (click)="selectSoft($event)"
                name="software_Prospect"
                [(ngModel)]="softwares"
                [options]="software1"
               >
              </ngx-multiselect>
             
          </div>

          <div class="form-group row" style="margin-left: 4px;width: 111px;">
              <label class="col-4 col-form-label" style="color: white;">Pais</label> 
             
                <ngx-multiselect 
                (click)="selectSoft($event)"
                  name="software_Prospect"
                  [(ngModel)]="softwares"
                  [options]="software1"
                 >
                </ngx-multiselect>
               
            </div>
                   
           
              <div class="form-group">
                  <label class="text-white">Pais</label>
                  <div class="input-group">
                
                      <select (click)="selectCountry($event)" class="form-control" [(ngModel)]="countryTest.country_id"  (ngModelChange)="showcity()" >
                         
                        <option *ngFor="let country of countryList; let i = index" [ngValue]="countryList[i].country_id">
                            
                            {{countryList[i].country_name}}
                           </option>
                          </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="text-white">Ciudad</label>
                  <div class="input-group">
                    <div *ngIf="countryTest.country_id">
                      <select class="form-control" (click)="selectCity($event)" name="city_id"  [(ngModel)]="cityTest" >
                        <option   *ngFor="let item of cityList; let i = index" [ngValue]="item.city_id" >
                           {{cityList[i].city_name}}
                         </option>
                        </select> 
              
                  </div>
                </div>
              </div>

            
            <label class="text-white">Años de Experiencia</label>
            <div class="d-flex justify-content-center my-4">
              <span class="font-weight-bold purple-text mr-2 mt-1">0</span>
              <form class="range-field w-75">
              <igx-slider (onValueChange)="selectYearsExp($event)"  [type]="sliderType.RANGE" [minValue]="0" [maxValue]="20" ></igx-slider>
            </form>
            <span class="font-weight-bold indigo-text ml-2 mt-1">20</span>
            </div>
         

          <div class="form-group">
            <label class="text-white">Nivel de Experiencia</label>
            <div class="input-group">
          
              <select (click)="selectLevelExp($event)" name="experience_level" class="form-control"  [(ngModel)]="levelTest">
                  <option value="">---Please select---</option>
                <option  *ngFor="let item of experiencieList; let i = index" [ngValue]="item.id">
                   {{experiencieList[i].experience_level}}
                 </option>
                </select>
            </div>
          </div>

          <label class="text-white">Edad</label>
            <div class="d-flex justify-content-center my-4">
              <span class="font-weight-bold purple-text mr-2 mt-1">0</span>
              <form class="range-field w-75">
            <igx-slider class="sliders" (onValueChange)="selectAgeExp($event)" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="100" ></igx-slider>
          </form>
          <span class="font-weight-bold indigo-text ml-2 mt-1">100</span>
          </div>
          <label class="text-white">Salario</label>
            <div class="d-flex justify-content-center my-4">
                <span class="font-weight-bold purple-text mr-2 mt-1">$0</span>
                <form class="range-field w-75">
                  <igx-slider (onValueChange)="selectSalaryExp($event)"  style="border: #0000ff;" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="1000"></igx-slider>
          </form>
          <span class="font-weight-bold indigo-text ml-2 mt-1">$10000</span>
          </div>
      
          </div>


    </ul>

   
    
</div>