$my-slider-theme: igx-slider-theme($thumb-on-color: black, $track-on-color: yellow);
// Pass the theme to the igx-slider component mixin
@include igx-slider($my-slider-theme);

/*
input[type="file"] {
    background-color: black;
    color: blanchedalmond;
}*/

.adjuntar {
    font-size: 14px;
    color: blue;
    background-color: black;
}


.multiselct {
    width: 220px;
}