<div class="container-fluid">
    <div class="row">
          <div class="col-md-3 " >
              <div class="card" style="align-content: center;background-color: #999da0;">
                <div class="card-body">
                    <div class="col-md-7">
                      <div class="row">                  
                          <i  style="color: black;"class="fa fa-filter" aria-hidden="true"></i>         
                        <h6 style="color: black;" href="" class="simple-text logo-normal" >
                          Filtros
                        </h6>
                      </div>
                    </div>  
                    <hr>
                  
                

                  <div class="input-group"  class="col-8" *ngIf="software.length">
                      <label  style="color: black;">Software</label> 
                     
                        <ngx-multiselect 
                          
                          (ngModelChange)="prospectsoft($event)"
                          [(ngModel)]="softwares1"
                          [options]="software"
                          theme="bootstrap" 
                          ngDefaultControl
                         >
                        </ngx-multiselect>
                       
                    </div>
                  
                  <div class="input-group" class="col-4">
                      <label style="color: black;">Pais</label> 
                        <ngx-multiselect 
                        (ngModelChange)="prospectcountry($event)"
                        (ngModelChange)="showcity2($event)"
                          [(ngModel)]="countrys1"
                          [options]="country1"
                          theme="bootstrap" 
                         >
                        </ngx-multiselect>
                       
                    </div>
                    <div class="input-group" class="col-11">
                    <label  style="color: black;">Ciudad*</label>                
                       
                        <div *ngIf="countrys1.length < 2 " >
                        <select style="width: 240px;" (ngModelChange)="prospectcity($event)" class="form-control" name="city_id"  [(ngModel)]="prospect.city_id">
                         <option value="">---Seleccionar Todo---</option>
                          
                          <option *ngFor="let item of cityList; let i = index" [ngValue]="item.city_id" >
                             {{cityList[i].city_name}}
                           </option>
                          </select>                                    
                       </div>
                    </div>
                    <div class="input-group" class="col-11">
                      <label style="color: black;" >Nivel de Experiencia</label>
                      <!--<select style="width: 240px;" (ngModelChange)="prospectexp($event)"  name="experience_level" class="form-control"  [(ngModel)]="levelTest">
                          <option value="">---Seleccionar todos---</option>
                          <option  *ngFor="let item of experiencieListPost; let i = index" [ngValue]="item.Id">
                               {{experiencieList[i].experience_level}}
                          </option>
                      </select>-->
                                    
                      <ngx-multiselect
                          (ngModelChange)="prospectExp($event)"
                          [(ngModel)]="selectedLevel"
                          [options]="nivel"
                          name="test"
                          [required]="true"
                          theme="bootstrap" 
                          ngDefaultControl
                          name="experience_level"
                      >

                      </ngx-multiselect>

                </div>
                    

                    <div  class="input-group" class="col-10">
            
                      <label style="color: black;">Años de Experiencia</label>
                      <div *ngIf="valueMinLevel">
                          <ng5-slider style="width: 240px;" (userChangeEnd)="prospectyear($event)" [(value)]="valueMinLevel" [(highValue)]="valueMaxLevel" [options]="options1"></ng5-slider>
                      </div> 
                   </div>            

                  <div class="input-group" class="col-10">
                    <label style="color: black;">Edad</label>
                    <div *ngIf="valueMinAge">
                      <ng5-slider style="width: 240px;" (userChangeEnd)="prospectage($event)" [(value)]="valueMinAge" [(highValue)]="valueMaxAge" [options]="options2"></ng5-slider>
                    </div>
                    
                 </div>

                  <div class="input-group" class="col-10">
                    <label style="color: black;">Salario</label>
                        <div *ngIf="valueMinSalary">
                          <ng5-slider style="width: 240px;" (userChangeEnd)="prospectsalary($event)" [(value)]="valueMinSalary" [(highValue)]="valueMaxSalary" [options]="options3"></ng5-slider>
                        </div>
                        
                  </div>
              </div>
            </div>
          </div>
      <div class="col-md-9">
      <div class="card-header">
        <h4 class="card-title align-center">Prospecto</h4>
      </div>
      <div style="padding-left: 15px;" class="row">
       <span (click)="OpenProspectModal(template,'save',index)" class="btn btn-primary btn-xs">Nuevo Prospecto</span>
       <span (click)="getExportProspect()" class="btn btn-success btn-xs">Exportar Excel</span>
       
       <label *ngIf="!exportExcel" class="btn btn-default btn-file">
         Importar Excel
        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="getExport($event)" style="display: none;">
       </label>
       <div style="padding-left: 5px; padding-top: 15px;" *ngIf="exportExcel">
        <img src="assets/img/loaderF.gif" />
      </div>
    </div>
       <!-- <span *ngIf="exportExcel" (click)="uploadFile()" class="btn btn-primary btn-xs">Importar</span> -->
      
       
        <br /><br />
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Titulo</th>
              <th>Salario</th>
              <th>Moneda</th>
              <th>Detalles</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of prospectList | paginate: {itemsPerPage: 6, currentPage: pageActual};let i = index">
                <td>{{item.prospect_name}}</td>
                <td>{{item.prospect_lastname}}</td>
                <td>{{checkTitle(item.title_id)}}</td>
                <td>{{item.prospect_salary}}</td>
                <td>{{item.codigoMoneda}}</td>
                            
                <td><span (click)="getsoftwareProspect(item.prospect_id)" class="btn btn-primary btn-xs" [routerLink]="['/user']" [queryParams]="item">
                    <span class="nc-icon nc-tap-01"></span></span></td>
                    <td><span class="btn btn-primary btn-xs" (click)="OpenProspectModal(template,'edit',item)">
                      <span class="nc-icon nc-ruler-pencil"></span></span></td> 
                <td><span class="btn btn-danger btn-xs" (click)="OpenProspectModal(confirm,'delete',item)">
                    <span class="nc-icon nc-simple-remove"></span></span></td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
  </div>

  <ng-template #template let-modal>
   
      <div class="modal-header">
       
        <h4 class="modal-title" id="add-modal-label">Prospecto</h4>
      </div>
      <div class="modal-body">       
        <div class="form-group">
          <div class="col-md-12">
            <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
              <div class="container">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" >Nombre*</label> 
                            
                              <input placeholder="Ingrese el Nombre" type="text" formControlName="prospect_name" class="form-control" [(ngModel)]="prospect.prospect_name" [ngClass]="{ 'is-invalid': submitted && f.prospect_name.errors }" />
                              <div *ngIf="submitted && f.prospect_name.errors" class="invalid-feedback">
                                  <div *ngIf="f.prospect_name.errors.required">Por favor, ingresa nombre del prospecto</div>
                              </div>
                                                           
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" style="align-items: center;">Apellido*</label> 
                            
                            <input placeholder="Ingrese el Apellido" type="text" formControlName="prospect_lastname" class="form-control" [(ngModel)]="prospect.prospect_lastname" [ngClass]="{ 'is-invalid': submitted && f.prospect_lastname.errors }" />
                            <div *ngIf="submitted && f.prospect_lastname.errors" class="invalid-feedback">
                              <div *ngIf="f.prospect_lastname.errors.required">Por favor, ingresa el apellido del prospecto</div>
                            </div>
                          
                        </div>
                    </div>                   
                 
                </div>
                  
                 <div class="row">

                    <div class="col-6">
                        <div class="form-group">
                          <label class="col-form-label">Fecha de Nacimiento*</label> 
                          <div class="">
                            <input type="date" #Fecha formControlName="prospect_birthday" class="form-control"
                            [(ngModel)]="prospect.prospect_birthday" id="txtvalor"  placeholder="Fecha" (change)="ValidateDate(Fecha.value)" 
                            required [ngClass]="{ 'is-invalid': submitted && f.prospect_birthday.errors }" />
                            <div style="color: #dc3545; font-size: 9;" *ngIf="ValidateDate(Fecha.value)" >El usuario debe ser mayor de edad</div>
                          <div *ngIf="submitted && f.prospect_birthday.errors" class="invalid-feedback">
                            <div *ngIf="f.prospect_birthday.errors.required">Por favor, ingrese fecha de nacimiento</div>
                          </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                          <label class="col-form-label">Número de Telefono*</label> 
                          <div class="">
                          <input placeholder="Ingrese el Telefono" type="text" formControlName="prospect_phonenumber" class="form-control" [(ngModel)]="prospect.prospect_phonenumber" [ngClass]="{ 'is-invalid': submitted && f.prospect_phonenumber.errors }" />
                          <div *ngIf="submitted && f.prospect_phonenumber.errors" class="invalid-feedback">
                            <div *ngIf="f.prospect_phonenumber.errors.required">Por favor, ingrese número de telefono</div>
                          </div>
                          </div>
                      </div>
                    </div>

                 </div>      
                   

                <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                          <label class="col-form-label">Direccion*</label> 
                          <div class="">
                          <input placeholder="Ingrese el Direccion" type="text" formControlName="prospect_address" class="form-control" [(ngModel)]="prospect.prospect_address" [ngClass]="{ 'is-invalid': submitted && f.prospect_address.errors }" />
                          <div *ngIf="submitted && f.prospect_address.errors" class="invalid-feedback">
                            <div *ngIf="f.prospect_address.errors.required">Por favor, ingrese Dirección</div>
                          </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="col-form-label">Titulo*</label> 
                        <div  class="">
                          <select name="title_id" class="form-control"  [(ngModel)]="prospect.title_id" required  formControlName="title_id" [ngClass]="{ 'is-invalid': submitted && f.title_id.errors }"  >
                            <option *ngFor="let item of titleList; let i = index" [ngValue]="item.title_id">
                               {{titleList[i].title_name}}
                             </option>
                            </select>  
                            <div *ngIf="submitted && f.title_id.errors" class="invalid-feedback">
                              <div *ngIf="f.title_id.errors.required">Por favor, seleccione un título</div>
                             </div>                                  
                         </div>
                      </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="col-form-label">Pais*</label> 
                        <div  class="">
                        <select class="form-control" name="country_id"  [(ngModel)]="prospect.country_id" (ngModelChange)="showcity()" required  formControlName="country_id" [ngClass]="{ 'is-invalid': submitted && f.country_id.errors }" >
                          <option   *ngFor="let item of countryList; let i = index" [ngValue]="item.country_id" >
                             {{countryList[i].country_name}}
                           </option>
                          </select>  
                          <div *ngIf="submitted && f.country_id.errors" class="invalid-feedback">
                            <div *ngIf="f.country_id.errors.required">Por favor, seleccione un pais</div>
                          </div>                                  
                       </div>
                    </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="col-form-label">Ciudad*</label> 
                        <div *ngIf="prospect.country_id" class="">
                        <select class="form-control" name="city_id" [(ngModel)]="prospect.city_id" required  formControlName="city_id" [ngClass]="{ 'is-invalid': submitted && f.city_id.errors }">
                          <option   *ngFor="let item of cityList; let i = index" [ngValue]="item.city_id" >
                             {{cityList[i].city_name}}
                           </option>
                          </select>   
                          <div *ngIf="submitted && f.city_id.errors" class="invalid-feedback">
                            <div *ngIf="f.city_id.errors.required">Por favor, seleccione una ciudad</div>
                          </div>                                  
                       </div>
                     </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="col-form-label">Salario</label> 
                        <div class="">
                          <input placeholder="Ingrese el salario" type="text" formControlName="prospect_salary" class="form-control" [(ngModel)]="prospect.prospect_salary" [ngClass]="{ 'is-invalid': submitted && f.prospect_salary.errors }" />
                           
                          <div *ngIf="submitted && f.prospect_salary.errors" class="invalid-feedback">
                            <div *ngIf="f.prospect_salary.errors.required">Por favor, ingrese salario</div>
                            <div *ngIf="f.prospect_salary.errors.pattern">Por favor, ingrese solo numeros</div>
                          </div>

                        </div>                    
                      
                     </div>
                    </div>

                    <div class="col-6">
                      <label class="col-form-label">Moneda*</label>
                      <select class="form-control" [(ngModel)]="prospect.codigoMoneda" required  formControlName="codigoMoneda"
                          [ngClass]="{ 'is-invalid': submitted && f.codigoMoneda.errors }">
                          <option   *ngFor="let item of currencyList; let i = index" [ngValue]="item.codigoMoneda" >
                            {{item.descripcionMoneda + " " + item.codigoMoneda}}
                          </option>

                            <div *ngIf="submitted && f.codigoMoneda.errors" class="invalid-feedback">
                              <div *ngIf="f.codigoMoneda.errors.required">Por favor, ingrese la moneda</div>  
                            </div>
                        </select>
                    </div>

                  </div> 

                <div class="row" >
                  <div class="col-10">
                    <div class="form-group">
                      <label class="col-form-label">CV*</label> 
                      
                     
                        <input type="file" style="opacity: initial; position: relative;"  formControlName="prospect_cv" class="form-control" (change)="onSelectFileCV($event)"
                              [(ngModel)]="prospect.prospect_cv1" [ngClass]="{ 'is-invalid': submitted && f.prospect_cv.errors }"/>
                        <div *ngIf="submitted && f.prospect_cv.errors" class="invalid-feedback">
                          <div *ngIf="f.prospect_cv.errors.required">Por favor, ingrese cv</div>
                          <!--<div *ngIf="f.prospect_cv.errors.pattern">Por favor, ingrese una direccion url correcta</div>-->
                        </div>

                        
                      
                   </div>
                  </div>

                  <div class="col-2">
                    <br>
                    <div style="padding-top: 20px;" *ngIf="loaderFileCV">
                        <img src="assets/img/loaderF.gif" />
                    </div>

                      <div *ngIf="btnSubirCv">
                        <button type="button" (click)="upFileCV()" class="btn btn-primary">Subir CV</button>
                      </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-10">
                    <div class="form-group">
                          <label class="col-form-label">Foto*</label>
                          
                         
                            <input style="opacity: initial; position: relative;" type="file"  value={this.state.image} class="form-control" formControlName="prospect_photo" [(ngModel)]="prospect.prospect_photo1"
                                 [ngClass]="{ 'is-invalid': submitted && f.prospect_photo.errors }" (change)="onSelectFileFoto($event)"/>
                         
                                                    
                        
                      </div>
                  </div>

                  <div class="col-2">
                     <br>
                    <div style="padding-top: 20px;" *ngIf="loaderFileFoto">
                      <img src="assets/img/loaderF.gif" />
                    </div>

                    <div *ngIf="btnSubirFoto">
                      <button type="button" (click)="upFileFoto()" class="btn btn-primary">Subir Foto</button>
                    </div>

                  </div>

                </div>
                
                 
                <div class="row">

                    <div class="col-6">
                      <div class="form-group">
                        <label class="col-form-label">Fuente*</label> 
                        <div class="">
                            <select name="prospect_link" class="form-control"  [(ngModel)]="prospect.prospect_link" required 
                                  formControlName="prospect_link" 
                                  [ngClass]="{ 'is-invalid': submitted && f.prospect_link.errors }">
          
                                  <option *ngFor="let item of sourceList; let i = index" [ngValue]="item.idFuente">
                                    {{sourceList[i].nombreFuente}}
                                  </option>
          
                                  <div *ngIf="submitted && f.prospect_link.errors" class="invalid-feedback">
                                      <div *ngIf="f.prospect_link.errors.required">Por favor, seleccione la fuente</div>
                                  </div>
          
                            </select>
                            <!--<input type="text" formControlName="prospect_link" class="form-control" [(ngModel)]="prospect.prospect_link" [ngClass]="{ 'is-invalid': submitted && f.prospect_link.errors }" />
                            <div *ngIf="submitted && f.prospect_link.errors" class="invalid-feedback">
                                <div *ngIf="f.prospect_link.errors.required">Por favor, ingrese fuente</div>
                            </div>-->
                        </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                          <label class="col-form-label">Años de Experiencia*</label> 
                          <div class="">
                          <input placeholder="Ingrese el Año en Numero" formControlName="experience_years" class="form-control" [(ngModel)]="prospect.experience_years" [ngClass]="{ 'is-invalid': submitted && f.experience_years.errors }" />
                          <div *ngIf="submitted && f.experience_years.errors" class="invalid-feedback">
                            <div *ngIf="f.experience_years.errors.required">Por favor, ingrese años de experiencia</div>
                            <div *ngIf="f.experience_years.errors.pattern">Por favor, ingrese solo número</div>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-6">
                      <div class="form-group">
                        <label class="col-form-label">Nivel de Experiencia*</label> 
                        <div  class="">
                          <select name="experience_level" class="form-control"  [(ngModel)]="prospect.experience_level" required  formControlName="experience_level" [ngClass]="{ 'is-invalid': submitted && f.experience_level.errors }" >
                            <option  *ngFor="let item of experiencieListPost; let i = index" [ngValue]="item.Id" >
                               {{item.experience_level}}
                             </option>
                            </select>
                            <div *ngIf="submitted && f.experience_level.errors" class="invalid-feedback">
                              <div *ngIf="f.experience_level.errors.required">Por favor, seleccione nivel de experiencia</div>
                             
                            </div>                                    
                         </div>
                      </div>
    
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                          <label class="col-form-label">Email*</label> 
                          <div class="">
                          <input type="text" class="form-control" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                          [(ngModel)]="prospect.email"/>
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">Por favor, ingrese email</div>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-6">
                      <div class="form-group">
                        <label class="col-form-label">Comentario*</label> 
                        <div class="">
                          <input type="text" class="form-control" formControlName="commentary"  [ngClass]="{ 'is-invalid': submitted && f.commentary.errors }"
                          [(ngModel)]="prospect.commentary"  />
                          <div *ngIf="submitted && f.commentary.errors" class="invalid-feedback">
                              <div *ngIf="f.commentary.errors.required">Por favor, ingrese comentario</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                          <label class="col-form-label">Referido por:*</label> 
                          <div class="">
                          <input type="text" class="form-control" formControlName="referral_name"  [ngClass]="{ 'is-invalid': submitted && f.referral_name.errors }"
                          [(ngModel)]="prospect.referral_name" />
                          <div *ngIf="submitted && f.referral_name.errors" class="invalid-feedback">
                              <div *ngIf="f.referral_name.errors.required">Por favor, ingrese referencia</div>
                            </div>
                          </div>
                      </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-4">
                      <div class="form-group" *ngIf="software.length">
                        <label class="col-form-label">Software*</label> 
                        <div class="margin">
                          <ngx-multiselect style="width: 100px;"
                            [ngModelOptions]="{standalone: true}"
                            name="software_Prospect"
                            [(ngModel)]="softwares"
                            [options]="software"
                            theme="bootstrap"
                            ngDefaultControl>
                          </ngx-multiselect>
                          <div style="color: #dc3545; font-size: 9;" *ngIf="submitted && !softwares[0]">Por favor, ingrese software</div>
                        </div>
                      </div>
                    </div>

                    
                </div>

            
                       
                

               
  
               <!-- <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="prospect.prospect_birthday" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div> -->
                    
                

                
              
               

                   

                  
  
                   

                 
           
              

              
  
                  
                  

                

              
  
            
            <!-- <div class="form-group row">
                <label class="col-4 col-form-label">CV*</label> 
                <div class="col-8">
  
                    <input
             style="display: none"
             type="file" (change)="onFileChanged($event)" formControlName="prospect_photo" class="form-control" [(ngModel)]="prospect.prospect_photo" [ngClass]="{ 'is-invalid': submitted && f.prospect_photo.errors }"
             #fileInput>
           <button (click)="fileInput.click()">Seleccione Foto</button>
                 <input type="text" formControlName="prospect_photo" class="form-control" [(ngModel)]="prospect.prospect_photo" [ngClass]="{ 'is-invalid': submitted && f.prospect_photo.errors }" />
                <div *ngIf="submitted && f.prospect_photo.errors" class="invalid-feedback">
                  <div *ngIf="f.prospect_photo.errors.required">Por favor, ingrese foto</div>
                </div>
                </div>
             </div> -->
  
             
  
            <!-- <div class="form-group row">
                <label class="col-4 col-form-label">Foto*</label> 
                <div class="col-8">
  
                    <input
             style="display: none"
             type="file" (change)="onFileChanged($event)" formControlName="prospect_photo" class="form-control" [(ngModel)]="prospect.prospect_photo" [ngClass]="{ 'is-invalid': submitted && f.prospect_photo.errors }"
             #fileInput>
           <button (click)="fileInput.click()">Seleccione Foto</button>
                 <input type="text" formControlName="prospect_photo" class="form-control" [(ngModel)]="prospect.prospect_photo" [ngClass]="{ 'is-invalid': submitted && f.prospect_photo.errors }" /> 
                <div *ngIf="submitted && f.prospect_photo.errors" class="invalid-feedback">
                  <div *ngIf="f.prospect_photo.errors.required">Por favor, ingrese foto</div>
                </div>
                </div>
             </div> -->
  
  
  
                 

              </div>
              
                <!-- <div class="form-group row">
                  <label for="pass" class="col-4 col-form-label">Referido Por:</label> 
                  <div class="col-8">
                    <input class="form-control here" [(ngModel)]="prospect.prospect_referencia">
                  </div>
                </div> -->
            </form>
          </div>
        </div>
        
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cerrar</button>
        <div *ngIf="save"><button (click)="saveprospect()" type="submit" class="btn btn-primary">Guardar</button></div>
        <div *ngIf="edit"><button (click)="editprospect()" type="submit" class="btn btn-primary">Aceptar</button></div>
      </div>
  
    </ng-template>
    <ng-template #confirm>
      <div class="modal-body text-center">
        <p>Eliminar logica,Desea inavilitar al Prospecto?</p>
        <button type="button" class="btn btn-default" (click)="deletelbprospect()" >Si</button>
        <button type="button" class="btn btn-primary" (click)="onClose()" >No</button>
      </div>
    </ng-template>
  </div>

  <ng-template #importar>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Importación de Prospectos</h4>
      <!--<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>-->
    </div>
    <div class="modal-body">
        
            <div class="col-md-12">
              <form [formGroup]="formFile">
                <div class="form-group">
                  <label class="col-form-label">Entidad*</label> 
                  
                    <input  placeholder="Ingrese la entidad" type="text" formControlName="pathFile" class="form-control" [(ngModel)]="prospect.pathFile" [ngClass]="{ 'is-invalid': submitted && f.pathFile.errors }" />
                    <div *ngIf="submitted && f.pathFile.errors" class="invalid-feedback">
                        <div *ngIf="f.pathFile.errors.required">Por favor, ingresa la entidad</div>
                    </div>
                    
                  </div>
              </form>
            </div>
        
      
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="onCloseImportar()">Cerrar</button>
      <div><button type="submit" (click)="uploadFile()" class="btn btn-primary">Aceptar</button></div>
      
    </div>
  </ng-template>

<ngx-spinner></ngx-spinner>
</div>